@import '../../constants/constants.css';

.page_container {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 0 15px;
  /* background-color: #ff00ff; */
  overflow: scroll;
}

.header_box {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 0 50px;
  margin: 50px 0 30px;
}

.title_text {
  font-size: 2rem;
  padding: 0;
  margin: 0;
}

.info_text {
  font-size: 0.92vw;
}

.content_container {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 20px;
}