.container {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    cursor: default;
}

.color_box_frame {
    width: 30pt;
    height: 15pt;
    flex-shrink: 0;
    margin-right: 10pt;
    border-radius: 3pt;
    display: flex;
    justify-content: center;
    align-items: center;
}

.color_box {
    width: 85%;
    height: 70%;
    border-radius: 0pt;
    flex-shrink: 0;
    background-color: var(--background-color-box);
    opacity: 0.5;
}

.text {
    font-size: 0.92vw;
    text-align: left;
    flex: 1;
}

