@import '../../constants/constants.css';

.container {
    position: relative;
}

.items_container {
    width: 100%;
    background-color: var(--background-color-box-second-level);
    border-radius: 5pt;
    margin-top: 2px;
    overflow: hidden;
    cursor: default;
}

.item_container {
    height: 40px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.item_container:hover {
    background-color: #dddddd88;
}

.indicator {
    font-size: larger;
    padding: 0 6pt 5pt 6pt;
    transition: 0.1s rotate ease-in-out;
    user-select: none;
}