

.legend_vertical {
    display: flex;
    flex-direction: column;
}

.legend_horizontal {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 7px;
}

.legend_item {
    display: flex;
    padding: 5pt 15pt 5pt 15pt;
    flex-direction: row;
    align-items: center;
    background-color: transparent;
    border-color: transparent;
    border-radius: 7px;
    cursor: default;
}

.legend_item:hover {
    background-color: #11111111;
    border-color: transparent;
}

.legend_text {
    font-size: 0.92vw;
    text-align: left;
    flex: 1;
    text-decoration: underline dotted #666A;
    text-underline-offset: 4pt;
}
