@import '../../constants/constants.css';

.content_container {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  padding: 0 15px;
  /* background-color: #ff00ff; */
  overflow: scroll;
}

.elections_box {
  width: 100%;
  height: calc(60% - 30px);
  margin: 15px 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border-radius: 7px;
  background-color: var(--background-color-box);
  align-items: center;
}

.graphs_box {
  box-sizing: border-box;
  min-height: calc(40% - 10px);
  width: 100%;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.graphs_wrapper {
  box-sizing: border-box;
  height: fit-content;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: flex-start;
  border-radius: 7px;
  background-color: var(--background-color-box);
}

/* 
.legend_container {
  bottom: 0;
  width: 100%;
  position: sticky;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 0 0 7px 7px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: baseline;
  background-color: var(--background-color-box);
  z-index: 2;
} */

.election_container {
  width: 100%;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.election_title {
  height: 60px;
  box-sizing: border-box;
  top: 0;
  position: sticky;
  width: 100%;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  background-color: var(--background-color-box);
  z-index: 2;
  overflow: hidden;
}

.election_title p{
  height: 18px;
  /* margin: 10px; */
  font-size: medium;
  font-weight: bold;
  text-align: center;
  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.election_body {
  width: 100%;
}

.section_container {
  width: 100%;
}

.section_title {
  width: 100%;
  box-sizing: border-box;
  height: 50px;
  margin: auto;
  padding-left: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: #ffffff25;
}

.section_title_text {
  padding-left: 20px;
}


.section_content_wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.section_content_container {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  display: flex;
  padding: 20pt;
  border-radius: 7px;
  /* background-color: var(--background-color-box); */
  justify-content: center;
  align-items: center;
}

.election_data_container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.no_election_selected_text {
  font-size: large;
  font-style: italic;
  font-family: Verdana, sans-serif;
  margin: 0 auto;
}


.indicator {
  transition: 0.2s rotate ease-in-out;
  user-select: none;
}