@import '../../constants/constants.css';

.table_wrapper {
  box-sizing: border-box;
  padding-right: 170px;
}

.table {
  /* background-color: green; */
  width: 100%;
}

.table thead {
  position: sticky;
  background-color: var(--background-color-box);
  /* height: 210px; */
  width: 100%;
}

.election_data_container {
  /* position: absolute; */
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  /* height: 00px; */
}

.table_header_row {
  bottom: 0;
  height: 200px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: flex-end;
  padding: 1px 10px;
  padding-bottom: 5px;

}

.table_header_row th{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0;
}

.table_headers_with_details{
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.table_headers_non_rule{
  width: 100%;
  display: flex;
  flex-direction: row;
}

.center_header {
  width: 100%;
	display: flex;
  justify-content: center;
}

.center_header_zero_width {
	position: relative;
}

.header_rotator {
  /* bottom: 5px ; */
	/* left: 50% ; */
	position: absolute;
  bottom: 0;
	transform-origin: center left;
}

.legend_item_container {
	position: relative;
  width: 280px;
  height: 40px;
  text-align: left;
  /* background-color: antiquewhite; */
}


.project_row {
  width: 100%;
  height: 32px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 0px 10px;
}
/* 
.project_row:nth-child(even){
  background-color: #ffffff11;
}

.project_row:nth-child(odd){
  background-color: #ffffff29;
} */

.project_name_column {
  flex: 1;
}

.project_cost_column {
  text-align: right;
  width: 90px;
  margin-right: 10px;
}

.project_name {
  overflow: hidden;

  word-wrap: break-word;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;  
}

.boolean_container {
  text-align: center;
  width: 60px;
  box-sizing: border-box;
  flex-shrink: 0;
  font-size: x-large;
  height: 100%;
}