
.property_title {
    font-weight: normal;
}

.row {
    display: flex;
    flex-direction: row;
}

.title_column {
    padding-right: 20px;
}

.value_column {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.value_container {
    width: fit-content;
    align-self: flex-end;
    text-align: right;
}