@import '../../constants/constants.css';

.page_container {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* background-color: #ff00ff; */
}


.header_box {
    width: 100%;
    padding: 15px;
}

.title_text {
    font-size: 1.3vw;
    padding: 30pt 0;
}

.info_text {
    font-size: 0.92vw;
}

.upload_container {
    flex: 1;
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.data_container {
    flex: 3;
    box-sizing: border-box;
    padding: 20px;
    /* background-color: #ff00ff; */
    align-items: start;
}

.elections_container {
    margin-top: 20px;
}

.election_container {
    padding: 6px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    cursor: pointer;
}

.election_container:hover {
    background-color: #ffffff22;
  }

.election_property_container {
    font-size: 0.92vw;
    margin-right: 25px;
}
